.highlight {
  display: flex;
}

.copy-button-container {
  position: relative;
}

.code-block {
  flex-grow: 1;
}

.copy-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px 3px 4px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  font-family: sans-serif;
}

.copy-button:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}

.copy-button.copied {
  background: rgb(45, 105, 47);
  color: white;
  border-color: rgb(45, 105, 47);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
}
