<footer>
  <small>
    <div>
      <a href="/blog/feed.xml">
        <%= svg "/images/icons/feed.svg", height: '1.2em' %>
        <span class="align-middle">Atom Feed</span>
      </a>
    </div>
    <div>
      © <%= site.time.year %> by <a href="https://davidrunger.com/">David Runger</a>
    </div>
    <div class="text-lime-600">
      View source at <a href="https://github.com/davidrunger/blog/">GitHub</a>
    </div>
  </small>
</footer>
