<footer>
  <small>
    © <%= site.time.year %> by <a href="https://davidrunger.com/">David Runger</a>.
    View source at <a href="https://github.com/davidrunger/blog/">GitHub</a>.
  </small>
</footer>
