on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  verify_or_deploy:
    concurrency:
      cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
      group: verify_or_deploy-${{ github.ref_name }}
    runs-on: ubuntu-latest
    name: Verify deployability (and maybe deploy)
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Set up Ruby
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          bundler-cache: true

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
          run_install: false

      - name: Set up Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'

      - name: Install Gems
        run: bundle install

      - name: Run RuboCop
        run: bin/rubocop --format clang

      - name: Install JavaScript Packages
        run: pnpm install

      - name: Build
        run: bin/bridgetown deploy
        env:
          BRIDGETOWN_ENV: production

      - name: Check compiled CSS
        run: bin/check-compiled-css

      - name: Move 'output/' to 'blog/'
        run: mv output blog

      - name: Launch server
        run: ./node_modules/.bin/serve --no-clipboard > /dev/null &

      - name: Take Percy snapshots
        run: ./node_modules/.bin/percy snapshot snapshots.yml
        env:
          PERCY_TOKEN: '${{secrets.PERCY_TOKEN}}'

      - name: Deploy
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: ./.github/actions/deploy
        with:
          SERVER_USER_AND_IP: ${{ secrets.SERVER_USER_AND_IP }}
          SSH_KNOWN_HOSTS: ${{ secrets.SSH_KNOWN_HOSTS }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_PUBLIC_KEY: ${{ secrets.SSH_PUBLIC_KEY }}
